*{
  box-sizing: border-box;
}

body{
  background-color: #CAE7DF;
  color: black;
}

h2{
  text-align: center;
}

form{
  width: 40%;
  margin: 2px auto;
  padding: 8px;
  border-radius: 10px;
}

.input-field{
  padding: 2px;
  margin-bottom: 16px;
}

input, .age{
  width: 60%;
  display: block;
}
.age{
  width: 100%;
}

button{
  background-color: green;
}

a{
  margin-left: 20px;
  font-weight: 600;
  color: green;
}

table{
  width: 60%;
  margin: 2px auto;
}

tr{
  padding: 4px;
  margin: 2px;
}

td{
  padding: 2px;
}